Brotli==1.1.0
cffi==2.0.0
fastapi==0.127.0
groq==0.37.1
httptools==0.7.1
pip==25.2
PySocks==1.7.1
swebench==4.1.0
termcolor==3.2.0
uvicorn==0.40.0
uvloop==0.22.1
websockets==15.0.1
wheel==0.45.1
requests>=2.31.0